<h1>New Booking</h1>

<%= render 'form', booking: @booking %>
<% bookings = Booking.where(room_id: @room_id) %>
  <% bookings.each do |booking| %>
        <%= booking.arrive %>
        <%= booking.departure %>
        <% end %>

<%= link_to 'Back', bookings_path %>
